.app-container{
  margin-bottom:30px;
  margin-left:20px;
  margin-right:20px;
  margin-top:20px;
}

.timecode{
  float:right;
  display:inline-block;
}

.reel-name{
  float:left;
  display:inline-block;
}

.header{
  height:40px;
}

.button{
  border:0.5px solid lightblue;
  padding:10px;
}

.error{
  color:red;
}

.no-error{
  color:limegreen;
}